---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { HOME } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section class="mt-24 mb-48">
        <h1
          class="animate text-[3rem] uppercase sm:text-center font-black sm:text-[6.25rem]"
        > Alo, I'm Fanindra, an <br>Interaction Designer
        </h1>
        <p class="text-center my-16 text-xl animate">New Portfolio Coming Soon</p>
        <div class="my-4 animate text-center">
          <p>Say Hello</p>
          <a href="mailto:imfanindra@gmail.com"><p class="text-[1.5rem] sm:text-3xl text-black font-semibold hover:text-black/50">imfanindra@gmail.com</p></a>
        </div>
          <div class="flex flex-row gap-x-4 animate w-fit mx-auto mt-8">
            <Link href="https://www.linkedin.com/in/fanindra-m/" external>LinkedIn</Link>
            <Link href="https://www.behance.net/imfanindra" external>Behance</Link>
            <Link href="https://github.com/signedbyfani" external>GitHub</Link>
            <Link href="https://read.cv/fanindra_maharana">CV</Link>
          </div>

    </section>

  </Container>
</PageLayout>