---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BlogCard from "@components/BlogCard.astro";
import { HOME } from "@consts";

const projects = await getCollection("projects");
const writings = await getCollection("writing");

projects.sort((a, b) => (Number(a.data.serialNo) || 0) - (Number(b.data.serialNo) || 0));
writings.sort((a, b) => {
  const dateA = new Date(a.data.date).getTime() || 0;
  const dateB = new Date(b.data.date).getTime() || 0;
  return dateB - dateA;
});
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section class="mt-24 mb-48">
        <h1
          class="animate text-[3.5rem] uppercase sm:text-center font-black sm:text-[6.25rem]"
        > Alo, I'm Fanindra, an <br>Interaction Designer
        </h1>
    </section>

    <section class="space-y-8 md:space-y-12 mb-24">
      <div class="flex flex-wrap gap-y-24">
        <h3 class="animate text-black">
          Featured Projects
        </h3>
      </div>
      <ul class="flex flex-col gap-16">
        {projects.map((project) => <ArrowCard entry={project} />)}
      </ul>
    </section>

    <section id="about" class="flex flex-row gap-8 mb-24">
      <div class="flex flex-col gap-y-4 animate">
        <h5>About me</h5>
        <p class="text-black text-xl">I'm Fanindra Maharana, an Interaction Designer who's all about crafting seamless digital experiences. Currently pursuing my M. Des in Interaction Design at JKLU, Jaipur.</p>
        <p class="text-black text-lg">Beyond design, you'll find me watching cricket or consuming content about architecture, interior design, minimalism, tech, etc. Whether it's chatting about new movies and shows to tech trends, or discussing maps and geopolitics, I'm all ears. Let's kickstart some engaging conversations!
        </p>
      </div>
      <div class="animate">
        <img src="me.gif" alt="me" class="rounded-md">
      </div>
     </section>

     <section id="writing" class="animate space-y-8 md:space-y-12">
      <div class="flex flex-wrap gap-y-24">
        <h5>
          Stuff on my mind recently
        </h5>
      </div>
      <ul class="flex flex-col gap-4">
        {writings.map((writing) => <BlogCard entry={writing} />)}
      </ul>
    </section>
  </Container>
</PageLayout>