---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { HOME } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section class="mt-24 mb-48">
      <p class="text-2xl animate font-serif ">Alo, I'm Fanindra, an Interaction Designer</p>
        <p class=" my-16 font-serif text-3xl animate">New Portfolio Coming Soon</p>
        <div class="my-4 animate font-serif ">
          <p>Say Hello</p>
          <a href="mailto:imfanindra@gmail.com"><p class="text-[1.5rem] text-white font-semibold hover:text-white/75">imfanindra@gmail.com</p></a>
        </div>
          <div class="flex flex-row gap-x-4 font-serif  animate mt-8">
            <Link href="https://www.linkedin.com/in/fanindra-m/" external>LinkedIn</Link>
            <Link href="https://www.behance.net/imfanindra" external>Behance</Link>
            <Link href="https://github.com/signedbyfani" external>GitHub</Link>
            <Link href="https://read.cv/fanindra_maharana">CV</Link>
          </div>

    </section>

  </Container>
</PageLayout>