---
import { readdirSync } from "node:fs";
import path from "node:path";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { SANDBOX } from "@consts";

// Path to the sandbox folder
const folderPath = path.resolve("public/sandbox");

// Read all files in the folder
const images = readdirSync(folderPath).filter((file) =>
  /\.(jpeg|jpg|png|gif|webp)$/.test(file) // Only include image files
);
---

<PageLayout title={SANDBOX.TITLE} description={SANDBOX.DESCRIPTION}>
  <Container>
    <div class="animate my-8"> <h2>A few cool designs I have worked on</h2>
    <p class="text-black max-w-screen-sm">Here are some of my design explorations, showcasing a variety of work, including some UI designs, practice, coursework assignments, animations, typography, posters, and experiments with layouts.
    </p></div>
    <div class="mt-4 animate columns-1 lg:w-full lg:columns-3 lg:gap-2">
      {images.map((image) => (
        <div class="inline-block w-full break-inside-avoid">
          <img
            class="rounded-lg"
            src={`/sandbox/${image}`}
            alt="A design from the sandbox"
            loading="lazy"
          />
        </div>
      ))}
    </div>
  </Container>
</PageLayout>
