---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"writing">;
};

const { entry } = Astro.props;

const formattedDate = new Date(entry.data.date).toLocaleDateString("en-GB", {
  day: "2-digit",
  month: "2-digit",
  year: "2-digit",
});
---

<a href={`/${entry.collection}/${entry.slug}`} class="flex flex-col">
  <div class="flex flex-row justify-between">
    <p class="text-black">{entry.data.title}</p>
    <span class="text-black/50 text-numerals text-sm">{formattedDate}</span></div>
    <span class="flex-grow border-t border-dotted my-2 border-gray-300"></span>

</a>
